
.container > div{
    background-color: black;
    padding: 1em;
    height: 45px;
    width: 95px;
    border-radius: 4px;
}
.container > div:hover {
    border: 1px white solid;
}

.container{
    width: 75%;
    display:grid;
    /* grid-template-columns: 2fr 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 1em;
    margin: 20px;
}

body{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:980px;
    background-color: black;
    font-family: 'Julius Sans One', sans-serif;
}

html{
    display:flex;
    justify-content: center;
}
.scoreContainer{
    height: 50px;
    display:flex;
    justify-content: flex-end;
}
.instructions{
    height: 100%;
    width: 90%;
    background-color:black;
    color: #BDBDBD;
    font-family: 'Montserrat'
}
span{
    font-family: cursive; 
}
.score {
    height: 100%;
    width: 15%;
    background-color:black;
    border-radius: 4px;
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    border: 1px white solid;
}
.score > p {
    margin-left: 20px;
}
.end-game, .play-again, .instructionsFooter {
        height: 70%;
        width: 10%;
        background-color: black;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
}

.end-game:hover, .play-again:hover, .instructionsFooter:hover {
    border: 1px white solid;
}
.end-game, .play-again, .instructionsFooter {
    margin-right: 15px;
}
.instructionsFooter{
    font-size: 14px;
    padding: 0 4px;
    color: white;
}
footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
}
header{
    display:flex;
    justify-content: center;
    align-items: center;
}
header:hover{
    background-color: rgba(0, 38, 255, 0.75)
}
header, footer{
    color: white;
    height: 70px;
    background-color:black;
    border: 1px white solid;
    border-radius: 4px;
}
.container > .steven, .container > .stranger, .container > .bojack, .container > .archer, .container > .down{
    background-color:black;
    height: 25px;
    border-radius: 4px;
    border: 1px white solid;
}
.container > .stranger:hover{
background-color: rgba(206, 11, 37, 0.75)
}
.container > .steven:hover{
    background-color: rgba(116, 23, 77, 0.75);
}
.container > .bojack:hover{
    background-color: rgba(9, 2, 41, 0.95);
}
.container > .archer:hover{
    background-color: rgba(0, 255, 242, 0.75);
}
.container > .down:hover{
    background-color: rgba(255, 136, 0, 0.75);
}
a { 
    text-decoration: none;
    color: white;
}
.container > .test{
    color: white;
    font-size: 1em;;
}
.container > div {
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
}
.score:hover{
    background-color: rgba(255, 230, 0, 0.904)
}

.steven, .stranger, .bojack, .archer, .down{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: white;
    margin-bottom: -10px;
}

.default{
    margin-left: 5px;
}

